.main {
  width: 100%;
  height: 87vh;
}

.mainVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.learn-title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}
