:root {
  --speed: 500ms;
}

.hide {
  transform: translateX(-100%);
  transition: transform var(--speed) ease;
}

.show {
  transform: translateX(0%);
  transition: transform var(--speed) ease;
  z-index: 100;
}

.background {
  z-index: 10;
  position: absolute;
  top: 0;
  min-height: 100vh;
  min-width: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
